<nav class="navbar navbar-expand-lg {% if app.user and is_granted('ROLE_RESTAURATEUR') %}navbar-dark bg-dark{% else %}navbar-light bg-light{% endif %}">
    <a class="navbar-brand" href="{{ path('app_index') }}">{{ app_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% if app.user %}
                    {% if is_granted('ROLE_RESTAURATEUR') %}
                        <a class="nav-link" href="{#{{ path('restaurant_new') }}#}">Ajouter un restaurant</a>
                    {% elseif is_granted('ROLE_CLIENT') %}
                        <a class="nav-link" href="{#{{ path('restaurant_index') }}#}">Tous les restaurants</a>
                    {% endif %}
                {% endif %}
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Statistiques
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="nav-link" href="{{ path('statistic_index') }}">Toutes les statistiques</a>
                    <a class="nav-link" href="{{ path('statistic_new') }}">Ajouter une statistique</a>

                </div>

            <li class="nav-item dropdown">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Virus
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="nav-link" href="{{ path('virus_index') }}">Toutes les virus</a>
                    <a class="nav-link" href="{{ path('virus_new') }}">Ajouter un virus</a>

                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gérer mon compte {% if app.user %}({{ app.user.email }}){% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% if app.user %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        <a class="dropdown-item" href="#">Mon compte</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                        <a class="dropdown-item" href="{{ path('app_register') }}">Créer un compte</a>
                    {% endif %}

                </div>
            </li>
        </ul>
        {#<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher un restaurant</button>
        </form>#}
    </div>
</nav>