{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div>
        <h5>Contaminés : {{ contamined }}</h5>
        <h5>Guéris : <span{% if healed >  zombified %} class="text-success"{% else %} class="text-warning" {% endif %}>{{ healed }}</span></h5>
        <h5>Zombifiés : {{ zombified }}</h5>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Pays</th>
            <th>Date de dernière saisie</th>
            <th>Virus</th>
            <th>Contaminés</th>
            <th>Guéris</th>
            <th>Zombifié</th>
        </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
            <tr>
                <td><a href="{{ path('statistic_country',{'id': statistic.country.id}) }}">{{ statistic.country.name}}</a></td>
                <td>{{ statistic.createdAt ? statistic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ statistic.virus.codeName}}</td>
                <td>{{ statistic.contamined}}</td>
                <td>{{ statistic.healed}}</td>
                <td>{{ statistic.zombified}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
