{% extends 'base.html.twig' %}

{% block title %}Statistic index{% endblock %}

{% block body %}
    <h1>Statistiques par pays</h1>

    <div>
        <h5>Contaminés : {{ contamined }}</h5>
        <h5>Guéris : <span{% if healed >  zombified%} class="text-success"{% else %}class="text-danger"{% endif %}>{{ healed }}</span></h5>
        <h5>Zombifiés : {{ zombified }}</h5>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Virus</th>
                <th>Contaminés</th>
                <th>Guéris</th>
                <th>Zombifiés</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
            <tr>
                <td>{{ statistic.id }}</td>
                <td>{{ statistic.country.name }}</td>
                <td><a href="{{ path('statistic_virus_country', {'country': statistic.country.id, 'virus': statistic.virus.id}) }}">{{ statistic.virus.codeName }}</a></td>
                <td>{{ statistic.contamined }}</td>
                <td>{{ statistic.healed }}</td>
                <td>{{ statistic.zombified }}</td>
                <td>{{ statistic.createdAt ? statistic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('statistic_show', {'id': statistic.id}) }}">Détails</a>
                    <a href="{{ path('statistic_edit', {'id': statistic.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statistic_new') }}">Create new</a>
{% endblock %}
