{% extends 'base.html.twig' %}

{% block title %}Edit Statistic{% endblock %}

{% block body %}
    <h1>Editer une statistique</h1>

    {{ include('statistic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('statistic_index') }}">retour</a>

    {{ include('statistic/_delete_form.html.twig') }}
{% endblock %}
