{% extends 'base.html.twig' %}

{% block title %}Statistic index{% endblock %}

{% block body %}
    <h1>Statistiques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Virus</th>
                <th>Contaminés</th>
                <th>Guéris</th>
                <th>Zombifiés</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
            <tr>
                <td>{{ statistic.id }}</td>
                <td>{{ statistic.country.name }}</td>
                <td>{{ statistic.virus.codeName }}</td>
                <td>{{ statistic.contamined }}</td>
                <td>{{ statistic.healed }}</td>
                <td>{{ statistic.zombified }}</td>
                <td>{{ statistic.createdAt ? statistic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('statistic_show', {'id': statistic.id}) }}">show</a>
                    <a href="{{ path('statistic_edit', {'id': statistic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statistic_new') }}">Ajouter une nouvelle statistique</a>
{% endblock %}
