{% extends 'base.html.twig' %}

{% block title %}Ajouter une statistique{% endblock %}

{% block body %}
    <h1>Ajouter une statistique</h1>

    {{ include('statistic/_form.html.twig') }}

    <a href="{{ path('statistic_index') }}">retour</a>
{% endblock %}
