{% extends 'base.html.twig' %}

{% block title %}Statistic{% endblock %}

{% block body %}
    <h1>Statistique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statistic.id }}</td>
            </tr>
            <tr>
                <th>Contaminés</th>
                <td>{{ statistic.contamined }}</td>
            </tr>
            <tr>
                <th>Guéris</th>
                <td>{{ statistic.healed }}</td>
            </tr>
            <tr>
                <th>Zombifiés</th>
                <td>{{ statistic.zombified }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ statistic.createdAt ? statistic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statistic_index') }}">retour</a>

    <a href="{{ path('statistic_edit', {'id': statistic.id}) }}">Editer</a>

    {{ include('statistic/_delete_form.html.twig') }}
{% endblock %}
