<form method="post" action="{{ path('virus_delete', {'id': viru.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ viru.id) }}">
    <button class="btn">Delete</button>
</form>
