{% extends 'base.html.twig' %}

{% block title %}Edit Virus{% endblock %}

{% block body %}
    <h1>Editer un Virus</h1>

    {{ include('virus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('virus_index') }}">retour</a>

    {{ include('virus/_delete_form.html.twig') }}
{% endblock %}
