{% extends 'base.html.twig' %}

{% block title %}Virus{% endblock %}

{% block body %}
    <h1>Virus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Dangerosité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for viru in viri %}
            <tr>
                <td>{{ viru.id }}</td>
                <td>{{ viru.codeName }}</td>
                <td>{{ viru.dangerousness }}</td>
                <td>
                    <a href="{{ path('virus_show', {'id': viru.id}) }}">Détail</a>
                    <a href="{{ path('virus_edit', {'id': viru.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('virus_new') }}">Ajouter un nouveau virus</a>
{% endblock %}
