{% extends 'base.html.twig' %}

{% block title %}Ajouter un Virus{% endblock %}

{% block body %}
    <h1>Ajouter un Virus</h1>

    {{ include('virus/_form.html.twig') }}

    <a href="{{ path('virus_index') }}">retour</a>
{% endblock %}
