{% extends 'base.html.twig' %}

{% block title %}Virus{% endblock %}

{% block body %}
    <h1>Virus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ viru.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ viru.codeName }}</td>
            </tr>
            <tr>
                <th>Dangerosité</th>
                <td>{{ viru.dangerousness }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('virus_index') }}">retour</a>

    <a href="{{ path('virus_edit', {'id': viru.id}) }}">Editer</a>

    {{ include('virus/_delete_form.html.twig') }}
{% endblock %}
